# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017/mood_journal_db


# JWT Configuration
JWT_SECRET_KEY=your-super-secret-jwt-key-here

# AI Configuration
AI_PROVIDER=gemini
AI_MODEL_NAME=gemini-2.5-flash-lite
API_KEY=

# Server Configuration
PORT=8080
FLASK_ENV=development 